
body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 0px 0px;
}

li {
  margin-top: 25px;
  margin-right: 55px;
  margin-left: 55px;
  margin-bottom: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #008080;
}

nav ul li a:hover {
  color: #99ff66;
}

header {
  background: #e0ebe8;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e0ebe8;
  height: 100vh;
}


main h1 {
  font-size: 24px;
  font-weight:normal;
}

main h2 {
  font-size: 14px;
  font-weight: normal;
}
