body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-top: 25px;
  margin-right: 55px;
  margin-left: 55px;
  margin-bottom: 15px;
  color: #008080;
}
