
body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-top: 25px;
  margin-right: 55px;
  margin-left: 55px;
  margin-bottom: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #008080;
}

nav ul li a:hover {
  color: #99ff66;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #e0ebe8;
}
